/* global */
*{
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
  box-sizing: border-box;
}

/* Header */
.logo{
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}
.logo>img{
  padding: 1rem;
}

/* Body */
main{
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #33c899 0%, #334399 100%);
  overflow: hidden;
}
.container{
  width: 100%;
  height: 100vh;
}
.title-container{
  position: relative;
  height: 45%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #fff;
  text-transform: uppercase;
}
.title-rectangle{
  display: none;
}
.title-sub{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 1.34078px;
  padding-bottom: 1rem;
}
.title-prin{
  z-index: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2rem;
  line-height: 82px;
}
.breve{
  z-index: 1;
  margin-top: 1rem;
  width: 60%;
  border: 2.73063px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2.73063px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.breve-title{
  font-style: normal;
  font-weight: normal;
  font-size: 13.6531px;
  line-height: 17px;
}
.breve-barra{
  background-color: #ffffff;
  height: 2px;
  width: 55%;
}
.letter>h2.a{
  position: absolute;
  height: 223.81px;
  left: 74.32%;
  right: 3.2%;
  top: 40%;
  font-weight: normal;
  font-size: 178.097px;
  line-height: 224px;
  color: #51394F;
  opacity: 0.2;
}
.letter>h2.b{
  position: absolute;
  height: 223.81px;
  left: 55.16%;
  right: 22.36%;
  top: 122%;
  opacity: 0.2;
  font-weight: normal;
  font-size: 178.097px;
  line-height: 224px;
  color: #51394F;
}
.letter>h2.t{
  position: absolute;
  height: 223.81px;
  left: 29.83%;
  right: 57.34%;
  top: 72%;
  opacity: 0.2;
  font-style: normal;
  font-weight: normal;
  font-size: 178.097px;
  line-height: 224px;
  color: #51394F;
}
.letter>h2.i{
  position: absolute;
height: 223.81px;
left: -7.53%;
right: 87.42%;
top: 140%;
opacity: 0.2;
font-weight: normal;
font-size: 178.097px;
line-height: 224px;
color: #51394F;
}
.letter>h2.f, h2.e{
  display: none;
}
div.women-container{
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.rectangle-container{
  width: 50%;
  height: 100%;
  max-height: 265.95px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.rectangle-line{
  display: flex;
  justify-content: space-between;
}
.rectangle{
  width: 3.59px;
  height: 3.59px;
  background: #51394F;
  border-radius: 1.79564px;
  transform: rotate(-180deg);
  opacity: 0.3;
}
.oval{
  position: absolute;
  left: 15.37%;
  right: 15.37%;
  top: 36.94%;
  bottom: 8.94%;
  width: 248.81px;
  height: 248.81px;
  background: linear-gradient(180deg, #333a99 0%, #33cc99 100%);
  border-radius: 50%;
}
.women{
  position: absolute;
  top: 18%;
  left: -30px;
  width: 414.41px;
  height: 345px;
  background: url('./assets/women.png') no-repeat;
  background-size: cover;
}
@media screen and (min-width : 600px) {
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 2rem;
    color: #fff;
    text-transform: uppercase;
  }
  .title-rectangle{
    position: absolute;
    width: 60%;
    height: 100%;
    max-height: 473.95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .letter>h2.f{
    display: block;
    position: absolute;
    height: 377px;
    left: 3.4%;
    right: 88.19%;
    top: 0;
    opacity: 0.1;
    font-weight: normal;
    font-size: 300px;
    line-height: 377px;
    color: #51394F;
  }
  div.women-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .rectangle-container{
    height: 100%;
    max-height: 473.95px;
    justify-content: space-evenly;
  }
  .rectangle{
    width: 6.4px;
    height: 6.4px;
  }
  div.oval{
    top: 15%;
    left: 0%;
    width: 306.75px;
    height: 306.75px;
  }
  div.women{
    height: 80%;
    max-width: 890px;
    top: 10px;
  }
}
@media screen and (min-width : 1000px){
  .container{
    display: flex;
    justify-content: center;
  }
  div.title-container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 30px 10%;
  }
  .title-rectangle{
    top: 90px;
    left: 80px;
    width: 179px;
  }
  .title-sub, .breve-title{
    font-size: 20px;
  }
  .title-prin{
    font-size: 6rem;
    line-height: 7rem;
  }
  .breve-barra{
    width: 50%;
  }
  .letter>h2.a{
    width: 377px;
    top: 50%;
    left: 100%;
    opacity: 0.1;
  }
  .letter>h2.b{
    height: 377px;
    top: 10%;
    left: 123%;
    opacity: 0.1;
  } 
  .letter>h2.i{
    height: 377px;
    top: 60%;
    left: 215%;
    opacity: 0.1;
  }
  .letter>h2.t {
    top: 65%;
    opacity: 0.1;
  }
  .letter>h2.e{
      display: block;
      position: absolute;
      height: 377px;
      left: 190%;
      top: -4%;
      opacity: 0.1;
      font-weight: normal;
      font-size: 300px;
      line-height: 377px;
      color: #51394F;
  }
  .letter>h2.f{
    left: 13%;
  }

  div.women-container{
    width: 60%;
    height: 100%;
  }
  div.oval{
    width: 583px;
    height: 583px;
    top: 15%;
    left: 10%;
  }
  div.women{
    width: 100%;
  }
}
